*.wav
*.opus
test.py
**/__pycache__/
**/gen.py
./gen.py
gen.py
effects.py
time_stretch.py
generation.py
test*.py
wiki/demos
wiki/demos/*
audio-formats.txt
so_vits_svc
tts
models
samples
lut
video-editing/
video-editing/**/**
testing-all-nodes-megaworkflow.json
todo.md